html,body{
  .box{
    width: 220px;
    height: 120px;
    // background-color:red;
    background: url(../images/小丑8.jpg);
    background-size: cover;
  }

  .box1{
    width: 220px;
    height: 120px;
    // background-color:red;
    background: url(../images2/小丑8.jpg);
    background-size: cover;
  }
}